.small
  font-size: $font-size_small

.active
  font-weight: 500


#content, header
  .icon
    margin-right: 5px
    display: inline-block
    svg
      width: auto

header
  .icon
    fill: white
    margin-right: 10px
#content
  .icon
    fill: $dark-blue

#content:not(.portfolio)
  img
    width: 110%
    display: block
    margin: 0 -5%


.published-date, .reading-time
  display: inline-block
  margin-bottom: 20px

.reading-time
  margin-right: 20px

.img-caption
  margin-bottom: $margin-blocks/6 !important

.portfolio
  img
    max-width: 100%
    margin-bottom: $margin-blocks
    box-shadow: $box-shadow

  .rounded-img
    +rounded

  .testimonial-list
    margin: 0 auto
    display: flex

    .testimonial-container
      display: inline-block
      text-align: center

      .testimonial-name, .testimonial-role
        text-align: center
        font-weight: $font-weight_h1
        font-size: $font-size_main_large
        margin-top: -2/3*$margin-blocks
      .testimonial-role
        font-weight: $font-weight_main

      .testimonial-text
        position: relative
        z-index: 0


  .portfolio-tags
    margin-top: $margin-blocks/5
    span
      font-weight: $font-weight_h1
    a
      overflow-wrap: break-word
  .tags
    margin-bottom: $margin-blocks/3

#content
  .portfolio-list
    h2
      margin: 0

    a, a:hover, a:link, a:active, a:visited, a:focus
      border-bottom: none
      color: inherit

    img
      max-width: 100%
      border-radius: 2px
      display: block
      box-shadow: $box-shadow
      margin: inherit

    .portfolio-container
      position: relative
      max-width: $max-width-content
      margin-bottom: $margin-blocks

      .portfolio-details
        opacity: 0
        display: none
        width: 100%
        padding: 2em 1em
        color: $primary-color
        +transition(opacity 0.4s ease)

        p, h2
          text-align: center
          margin-bottom: 0
          position: relative


      .img-overlay
        position: absolute
        top: 0
        bottom: 0
        left: 0
        right: 0
        height: 100%
        width: 100%
        opacity: 0
        +transition(0.4s ease)
        background-color: $dark-blue

      &:hover
        .img-overlay
          opacity: 0.7

        .portfolio-details
          opacity: 1
          display: block
          position: absolute
          top: 50%
          left: 50%
          +transform(translate(-50%, -50%))

    img::hover
      linear-gradient: $dark-blue, $dark-blue

    .portfolio-container
      +smartphone
        img
          margin-bottom: 0

        .img-overlay
          display: none

        .portfolio-details
          display: block
          opacity: 1
          width: 100%
          padding: 0px
          color: $grey-900

          h2
            font-size: $font-size_h3
            line-height: $line-height_main

            span
              background-image: linear-gradient(180deg, transparent 60%, $primary-color 0)
              padding: 0 0.2em

          p, h2
            text-align: center
            margin-bottom: 0
            position: relative

        &:hover
          .portfolio-details
            +transform(none)
            position: relative
            left: 0


.designs, .techs
  display: inline-block

.designs
  margin-right: 20px

.read-more
  margin-top: -$margin-blocks/3
  text-align: right
  display: block

.chroma
  padding: 10px
  
  /**
 * Carousel.sass
 * @author: Dang Van Thanh
 * @github: https://github.com/dangvanthanh/carousel.sass
 * @description: A Simple Carousel Pure CSS Using Sass
 * @version: 1.0.0
 */
%animation-default {
  opacity: 1 !important;
  z-index: 3;
}

@mixin carousel($items, $animation: 'default') {
  .carousel {
    width: 100%;
    position: relative;
    overflow: hidden;

    > input[type="radio"] {
      position: absolute;
      left: 0;
      opacity: 0;
      top: 0;

      &:checked {
        ~ .carousel__items .carousel__item,
        ~ .carousel__prev > label,
        ~ .carousel__next > label {
          opacity: 0;
        }
      }

      @for $i from 1 through $items {
        &:nth-child(#{$i}) {
          &:checked {
            ~ .carousel__items .carousel__item {
              @if $animation == 'default' {
                &:nth-child(#{$i}) {
                  opacity: 1;
                }
              }
            }

            ~ .carousel__prev {
              > label {
                @if $i == 1 {
                  &:nth-child(#{$items}) {
                    @extend %animation-default;
                  }
                } @else if $i == $items {
                  &:nth-child(#{$items - 1}) {
                    @extend %animation-default;
                  }
                } @else {
                  &:nth-child(#{$i - 1}) {
                    @extend %animation-default;
                  }
                }
              }
            }

            ~ .carousel__next {
              > label {
                @if $i == $items {
                  &:nth-child(1) {
                    @extend %animation-default;
                  }
                } @else {
                  &:nth-child(#{$i + 1}) {
                    @extend %animation-default;
                  }
                }
              }
            }

            ~ .carousel__nav {
              > label {
                &:nth-child(#{$i}) {
                  background: #ccc;
                  cursor: default;
                  pointer-events: none;
                }
              }
            }
          }
        }
      }
    }

    &__items {
      margin: 0;
      padding: 0;
      list-style-type: none;
      width: 100%;
      height: 600px;
      position: relative;
    }

    &__item {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      transition: opacity 2s;
      -webkit-transition: opacity 2s;

      img {
        width: 100%;
        vertical-align: middle;
      }
    }

    &__prev,
    &__next {
      > label {
        border: 1px solid #fff;
        border-radius: 50%;
        cursor: pointer;
        display: block;
        width: 40px;
        height: 40px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        transition: all .3s ease;
        -webkit-transition: all .3s ease;
        opacity: 0;
        z-index: 2;

        &:hover,
        &:focus {
          opacity: .5 !important;
        }

        &:before,
        &:after {
          content: "";
          position: absolute;
          width: inherit;
          height: inherit;
        }

        &:before {
          background: linear-gradient(to top, #fff 0%, #fff 10%, rgba(51, 51, 51, 0) 10%),
                      linear-gradient(to left, #fff 0%, #fff 10%, rgba(51, 51, 51, 0) 10%);
          width: 60%;
          height: 60%;
          top: 20%;
        }
      }
    }

    &__prev {
      > label {
        left: 2%;

        &:before {
          left: 35%;
          top: 20%;
          transform: rotate(135deg);
          -webkit-transform: rotate(135deg);
        }
      }
    }

    &__next {
      > label {
        right: 2%;

        &:before {
          left: 10%;
          transform: rotate(315deg);
          -webkit-transform: rotate(315deg);
        }
      }
    }

    &__nav {
      position: absolute;
      bottom: 3%;
      left: 0;
      text-align: center;
      width: 100%;
      z-index: 3;

      > label {
        border: 1px solid #fff;
        display: inline-block;
        border-radius: 50%;
        cursor: pointer;
        margin: 0 .125%;
        width: 20px;
        height: 20px;
      }
    }
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body {
  background: #fcfcfc;
  margin: 0;
}

.container {
  width: 900px;
  min-width: 900px;
  margin: 50px auto;
}

@include carousel(5);